

#header-section {
  height: 50px;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.back-button {
  width: 60px;
  height: 40px;
  font-size: 10px;
}

#dark-mode-button {
  padding-left: 10px;
}

#dark-mode-button button {
  height: 22px;
  width: 25px;
}

#dark-mode-png {
  width: 18px;
  height: 10px;
}

/* light mode */
.light {
  background-color: antiquewhite;
  color: black;
  height: 100vh;
}

/*  */
.light {
  border-color: black;
}

.light .back-button {
  background-color: #01F1F1;
  border-color: #243447;
}

.light .back-button:hover {
  background-color: lightskyblue;
  
}


/* dark mode */
.dark {
  background-color:#243447;
  height: 100vh;
  color: whitesmoke;
 
}

.dark {
  border-color: #01F1F1;
}

.dark .back-button {
  background-color: azure;
  border-color: azure;
}

.dark .back-button:hover {
  background-color: aqua;
}

.btns {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}