#header-div {
  border-bottom: solid 2px;
  justify-content: space-between;
  width: 100%;
  max-height: 100px;
}

#header-content {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

#honk-span {
  font-style: italic;
  color: #01F1F1;
}

#dark-mode-button {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#dark-mode-button button {
  height: 22px;
  width: 25px;
}

#dark-mode-png {
  width: 18px;
  height: 10px;
}

#main-content {
  width: 100%;
  height: 300px;
  border-bottom: solid 2px black;
  display: flex;
  flex-direction: grid;
}

#name, #form-title {
  width: 100%;
}

#post-content {
  height: 50px;
  width:  100%;
}

#fun-honk {
  width: 50%;
  align-content: center;
  text-align: center;
  font-size: 120px;
  color: #01F1F1;
  font-style: italic;
  border-right: solid 2px;
  margin-right: 1px;
}  


/* The following command has a bug - the cursor shows across the whole width of the container. Gotta find out how to solve that. */
#fun-honk p:hover {
  cursor: pointer;
  /* I would like to add a sound effect on click - a goose honking */
}

#form-div {
  width: 50%;
  border-left: solid 2px;
  margin-left: 1px;
}
/* To align items vertically height has to be estabilished for the container */
#blog-post-form {
  height: 100%;
  display: grid;
  justify-content: center;
  text-align: left;
  align-items: center;
}

#form-submit-button {
  width: 80px
}

footer {

}
/* using viewport height for setting height is important as if one is to use anything otherwise itll only cover the area specifiec -100vh is 100% of the given viewport */
/* dark mode */
.dark {
  background-color:#243447;
  height: 100vh;
  color: whitesmoke;
 
}

.dark #form-div, #fun-honk, #main-content, #header-div {
  border-color: #01F1F1;
}

/* light mode */
.light {
  background-color: #ffffff;
  color: black;
  height: 100vh;
}

